body {
  width: 1440px;
  margin: 0;
  padding: 0;
  background: white;
}

/* FONT */

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#nav-bar {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
}
#nav-bar > img {
  width: 155px;
  height: 109px;
}
nav {
  margin-left: 200px;
}
#service > img {
  width: 16px;
  margin-inline: 5px;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  margin-left: 20px;
}
ul > li {
  width: 130px;
  font-size: 16px;
  list-style-type: none;
  text-align: center;
  margin-top: 20px;
}
ul li > a {
  text-align: start;
  text-decoration: none;
  color: black;
}

.dropdown-content {
  display: none;
}
#dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-web-content {
  display: none;
}
#dropdown-web:hover .dropdown-web-content {
  display: block;
}
button {
  color: white;
  background: #9bdc07;
  border-radius: 4px;
  padding-top: 20px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  width: 152.52px;
  height: 51px;
  margin-top: 29px;
  margin-left: 20px;
  padding: 16px 17px 16px 17px;
  gap: 9px;
  opacity: 0px;
}
